.panel.panel-default
  .panel-heading
    %h4= t('.sign_in', :default => "Sign in")
  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: "form-control"
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me
            = f.label :remember_me
      = f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary"
      - if devise_mapping.omniauthable? && ENV['BIKEINDEX_APP_SECRET'].present?
        - resource_class.omniauth_providers.each do |provider|
          = link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider)
          \&nbsp;
= render "devise/shared/links"
